<div class="card d-flex m-0 flex-column ad-width overflow-hidden pointer" (click)="clicked.emit()">

  <div class=" card-header row m-0 ad-width px-1 py-2">
    <span class="col-sm-2 "><img class="rounded-circle fit" src={{ad.userdata.pic}} style="height:24px;width:24px"></span>
    <span class="col-sm-6"> {{ad.userdata.name}}</span>
    <span class="col-sm-4 text-secondary d-flex justify-content-end"> {{ad.timeinfo.date}}</span>
  </div>

  <div class="position-relative">
    <img src={{ad.thumbnail}} class="ad-box"/>
    <div class="position-absolute black-desc ad-width py-2 px-2">
      <div class="row pl-1 pr-1 text-white">
        <i class="col-sm-2 material-icons">{{category.icon}}</i>
        <div class="col-sm-6">{{ad.title}}</div>
        <div class="col-sm-4 d-flex flex-row justify-content-end">&#8377; {{ad.price}}</div>
      </div>
    </div>
  </div>

  <div class="w-100 px-2 overflow-hidden d-flex text-justify" style="height:75px">{{ad.description}}</div>

  <div class="row m-0 px-2 py-2 text-secondary">
    <i class="material-icons pr-3">local_offer</i>
    {{ad.details.offers}}
    <div class="material-icons icon-size mx-3">comments</div>
    {{ad.details.comments}}
  </div>

</div>
