
<div class="card m-2">
  <div class="row m-1 p-1 overflow-hidden">

    <div class="col-1 d-flex align-items-center ">

      <img src={{ad.thumbnail}} class="fit thumbnail">

    </div>

    <div class="col-3 d-flex flex-column">

      <div class="d-flex">
        <i class="material-icons pr-2 d-flex align-items-center text-secondary">{{category.icon}}</i>
        {{ad.title}}
      </div>
      <span class="text-secondary text-justify overflow-hidden" style="height:75px">
        {{ad.description}}
      </span>
    </div>

    <div class="col-1">
      &#8377; {{ad.price}}
    </div>

    <div class="col-2">
      {{ad.userdata.name}}
      <br />
      <div class="text-secondary pt-1">{{ad.timeinfo.date}}</div>
    </div>

    <div class="col-2">
      {{ad.timeinfo.expiry}}
    </div>

    <div class="col-1">
      {{ad.details.offers}}
    </div>

    <div class="col-1">
      {{ad.details.comments}}
    </div>

  </div>
</div>
