
<div class="navbar navbar-default bg-white p-0 pt-2">

  <div class="navbar-nav d-flex flex-row">

    <span class="d-flex flex-column align-items-center" routerLink="/active">
      <span class="nav-item px-3 active" (click)="active(0)">ACTIVE</span>
      <span class="triangle"></span>
    </span>

    <span class="d-flex flex-column align-items-center" (click)="active(1)" routerLink="/history">
      <span class="nav-item px-3">HISTORY</span>
      <span class="triangle d-none"></span>
    </span>

  </div>
</div>

<div class="full-height">
  <router-outlet></router-outlet>
</div>
