.bg-color {
  background-color: rgb(118, 97, 139);
}

.text-color {
  color: rgb(118, 97, 139);
}

.font-normal{
  font-size : 14px;
}

.full-height{
  height : 100vh;
}

.pointer{
  cursor : pointer;
}

body{
  height : 100vh;
}

.fit{
  object-fit :cover;
}

.img-box{
  height : 400px;
  width : 600px;
}


.ad-width{
  width : 400px;
}

.ad-box{
  height : 250px;
  width : 400px;
}

.highlight{
  height : 100px;
  width : 150px;
}

.scroll-box{
  overflow : scroll;
}

.thumbnail{
  width:100px;
  height:75px;
}

.ellipse{
  text-overflow : ellipsis;
  white-space : nowrap;
}

.icon-size{
  width : 24px;
}

.bottom{
  bottom : 0;
}

.border-color {
  border: 1px solid rgb(118, 97, 139);
}

.bg-trans{
  background-color : rgba(0,0,0,0.75);
}

.flex-end{
  align-items:flex-end;
}
