<tabset>
    <tab heading="FOR SALE/RENT">
      <div class="p-3">
        <h1>For Sale/Rent</h1>
        <p>Here you can go through the ads poted by users</p>
        <div class="row">
          <!--<button id="button-first"
                  dropdownToggle type="button"
                  class="btn btn-default dropdown-toggle"
                  aria-controls="dropdown-first">
          HELLO</button>

          <ul id="dropdown-first"
              aria-labelledby="dropdown-first"
              role="menu"
              dropdownMenu class="dropdown-menu">

            <li role="menuitem"><a class="dropdown-item">India</a></li>
            <li role="menuitem"><a class="dropdown-item">Japan</a></li>
            <li role="menuitem"><a class="dropdown-item">China</a></li>

          </ul>-->



        </div>
      </div>
    </tab>
    <tab heading="REQUIRED"></tab>
</tabset>
