<!DOCTYPE html>


<div>


  <div class="content-header d-flex align-items-center">
    <div class="text">
      <div class="lead px-3 pt-3 text-black">Active Classifieds</div>
      <div class="lead px-3 text-secondary">Here you can explore the Active Ads posted by you.</div>
    </div>
    <div class="pt-3 flex-grow-1 d-flex justify-content-end">
      <button class="btn btn-default p-2 text-white py-2 bg-color" routerLink="/create">CREATE AD</button>
    </div>
  </div>


  <div class="row m-0 ml-2 mt-3" style="height:50px">

    <div class="col-6 row">
      <div class="col-3 p-0 dropdown">

        <button class="btn btn-default p-2 type-button border border-black bg-white d-flex w-100 h-100" data-toggle="dropdown">
          {{dropdata.type}}
          <i class="text-secondary material-icons d-flex flex-grow-1 justify-content-end">keyboard_arrow_down</i>
        </button>

        <div class="dropdown-menu">

          <div class="dropdown-item" (click)="change(0)">Sale</div>
          <div class="dropdown-item" (click)="change(1)">Rent</div>
          <div class="dropdown-item" (click)="change(2)">Required</div>

        </div>

      </div>

      <div class="col-3 p-0 dropdown">

        <button class="btn btn-default p-2 type-button border border-black bg-white d-flex w-100 h-100" data-toggle="dropdown">
          {{dropdata.category}}
          <i class="text-secondary material-icons d-flex flex-grow-1 justify-content-end">keyboard_arrow_down</i>
        </button>

        <div class="dropdown-menu w-100">

          <div *ngFor="let cat of category">
            <div class="dropdown-item d-flex" (click)="dropChange(cat)">
              <i class="material-icons text-secondary mr-2 d-flex align-items-center">
                {{cat.icon}}
              </i>
              {{cat.name}}
            </div>
          </div>
        </div>


      </div>

      <div class="col-3 p-0 dropdown">

        <button class="btn btn-default p-2 type-button border border-black bg-white d-flex w-100 h-100" data-toggle="dropdown">
          {{dropdata.posted}}
          <i class="text-secondary material-icons d-flex flex-grow-1 justify-content-end">keyboard_arrow_down</i>
        </button>

        <div class="dropdown-menu">

          <div class="dropdown-item" (click)="change(6)">Last Week</div>
          <div class="dropdown-item" (click)="change(7)">Last Month</div>
          <div class="dropdown-item" (click)="change(8)">Last Year</div>

        </div>

      </div>

      <div class="col-3 p-0 dropdown">

        <button class="btn btn-default p-2 type-button border border-black bg-white d-flex w-100 h-100" data-toggle="dropdown">
          {{dropdata.location}}
          <i class="text-secondary material-icons d-flex flex-grow-1 justify-content-end">keyboard_arrow_down</i>
        </button>

        <div class="dropdown-menu">

          <div class="dropdown-item" (click)="change(9)">Madhapur</div>
          <div class="dropdown-item" (click)="change(10)">Gachibowli</div>
          <div class="dropdown-item" (click)="change(11)">Kukatpally</div>

        </div>

      </div>

    </div>

    <div class="col-6 row">

      <div class="col-6 p-0">

        <input type="text" class="form-control p-2  h-100" placeholder="Search" />

      </div>

      <div class="col-3 p-0 d-flex align-items-center justify-content-center">

        <button class="btn btn-default bg-white border border-black h-100 w-100 d-flex align-items-center justify-content-center" (click)="reset()">
          <i class="material-icons">refresh</i>
          Reset
        </button>

      </div>

      <div class="col-3 p-0 d-flex align-items-center justify-content-center bg-white border border-black">

        <i class="material-icons text-color flex-grow-1 d-flex justify-content-center pointer"
           id="grid"
           (click)="grid()">grid_on</i>

        <i class="material-icons flex-grow-1 d-flex justify-content-center pointer"
           id="list"
           (click)="list()">list</i>

      </div>

    </div>

  </div>


  
  <div *ngIf="ads.length==0" class="position-absolute ml-5 pl-5 d-flex justify-content-center" style="bottom : 0">
      <img class="img-fluid" src="../../../assets/nothing.png" />
  </div>
   
  <div *ngIf="ads.length!=0">

    <div class="row ml-2 mt-3" *ngIf="!view">
      <div *ngFor="let ad of ads">
        <div class="col-4 p-0 m-1">
          <app-advertisement [ad]="ad"></app-advertisement>
        </div>
      </div>
    </div>

      <div *ngIf="view">
        <div class="row p-2 m-2 border border-black bg-light">

          <div class="col-4">ITEM DETAILS</div>
          <div class="col-1">PRICE</div>
          <div class="col-2">POSTED BY</div>
          <div class="col-2">EXPIRY</div>
          <div class="col-1">OFFERS</div>
          <div class="col-1">COMMENTS</div>

        </div>
        <div *ngFor="let ad of ads">
          <app-ad-list [ad]="ad"></app-ad-list>
        </div>
      </div>

  </div>
</div>
