<div class="position-relative">

<div class="row m-0 ml-2 mt-3" style="height:50px">

  <div class="col-6 row">
    <div class="col-3 p-0 dropdown">

      <button class="btn btn-default p-2 type-button border border-black bg-white d-flex w-100 h-100" data-toggle="dropdown">
        {{dropdata.type}}
        <i class="text-secondary material-icons d-flex flex-grow-1 justify-content-end">keyboard_arrow_down</i>
      </button>

      <div class="dropdown-menu">

        <div class="dropdown-item" (click)="change(0)">Sale</div>
        <div class="dropdown-item" (click)="change(1)">Rent</div>
        <div class="dropdown-item" (click)="change(2)">Required</div>

      </div>

    </div>

    <div class="col-3 p-0 dropdown">

      <button class="btn btn-default p-2 type-button border border-black bg-white d-flex w-100 h-100" data-toggle="dropdown">
        {{dropdata.category}}
        <i class="text-secondary material-icons d-flex flex-grow-1 justify-content-end">keyboard_arrow_down</i>
      </button>

      <div class="dropdown-menu w-100">

        <div *ngFor="let cat of category">
          <div class="dropdown-item d-flex" (click)="dropChange(cat)">
            <i class="material-icons text-secondary mr-2 d-flex align-items-center">
              {{cat.icon}}
            </i>
            {{cat.name}}
          </div>
        </div>
      </div>
    </div>

    <div class="col-3 p-0 dropdown">

      <button class="btn btn-default p-2 type-button border border-black bg-white d-flex w-100 h-100" data-toggle="dropdown">
        {{dropdata.posted}}
        <i class="text-secondary material-icons d-flex flex-grow-1 justify-content-end">keyboard_arrow_down</i>
      </button>

      <div class="dropdown-menu">

        <div class="dropdown-item" (click)="change(3)">Last Week</div>
        <div class="dropdown-item" (click)="change(4)">Last Month</div>
        <div class="dropdown-item" (click)="change(5)">Last Year</div>

      </div>

    </div>

    <div class="col-3 p-0 dropdown">

      <button class="btn btn-default p-2 type-button border border-black bg-white d-flex w-100 h-100" data-toggle="dropdown">
        {{dropdata.location}}
        <i class="text-secondary material-icons d-flex flex-grow-1 justify-content-end">keyboard_arrow_down</i>
      </button>

      <div class="dropdown-menu">

        <div class="dropdown-item" (click)="change(6)">Madhapur</div>
        <div class="dropdown-item" (click)="change(7)">Gachibowli</div>
        <div class="dropdown-item" (click)="change(8)">Kukatpally</div>

      </div>

    </div>

  </div>

  <div class="col-6 row">

    <div class="col-6 p-0">

      <input type="text" class="form-control p-2  h-100" placeholder="Search" />

    </div>

    <div class="col-3 p-0 d-flex align-items-center justify-content-center">

      <button class="btn btn-default bg-white border border-black h-100 w-100 d-flex align-items-center justify-content-center" (click)="reset()">
        <i class="material-icons">refresh</i>
        Reset
      </button>

    </div>

    <div class="col-3 p-0 d-flex align-items-center justify-content-center bg-white border border-black">

      <i class="material-icons text-color flex-grow-1 d-flex justify-content-center pointer"
         id="grid"
         (click)="grid()">grid_on</i>

      <i class="material-icons flex-grow-1 d-flex justify-content-center pointer"
         id="list"
         (click)="list()">list</i>

    </div>

  </div>

</div>



<div *ngIf="ads.length==0" class="position-absolute ml-5 pl-5 d-flex justify-content-center" style="top:250px;
align-items:flex-end;">
  <span><img class="img-fluid" src="../../../assets/nothing.png" /></span>
</div>

<div *ngIf="ads.length!=0">

  <div class="row ml-2 mt-3" *ngIf="!view">
    <div *ngFor="let ad of ads">
      <div class="col-4 p-0 m-1">
        <app-advertisement [ad]="ad" (clicked)="makeOffer(ad)"></app-advertisement>
      </div>
    </div>
  </div>

  <div *ngIf="view">
    <div class="row p-2 m-2 border border-black bg-light">

      <div class="col-4">ITEM DETAILS</div>
      <div class="col-1">PRICE</div>
      <div class="col-2">POSTED BY</div>
      <div class="col-2">EXPIRY</div>
      <div class="col-1">OFFERS</div>
      <div class="col-1">COMMENTS</div>

    </div>
    <div *ngFor="let ad of ads">
      <app-ad-list [ad]="ad"></app-ad-list>
    </div>
  </div>

</div>

<div class="fixed-top fixed-bottom w-100 d-flex align-items-center justify-content-center bg-trans" style="top:0;height:100vh;" *ngIf="offer">

  <div class="card">

    <div class="card-header bg-dark text-white">
      MAKE AN OFFER
    </div>

    <div class="card-body d-flex flex-column align-items-center justify-content-center">
      <h4 class="mb-3">For <i>{{activeAd.title}}</i></h4>

      <div class="row mb-1">
        <label for="amount" class="col-5 text-left">Amount</label>
        <input class="col-7 w-100 form-control" placeholder="&#8377; 100" [(ngModel)]="offerData.amount" name="offerData.amount" />
      </div>

      <div class="row">
        <label for="comments" class="col-5 text-left">Comments</label>
        <textarea class="col-7 w-100 form-control" [(ngModel)]="offerData.comments">{{offerData.comments}}</textarea>
      </div>

      <div>
        <button class="btn btn-default text-white bg-color mt-3 mr-1" (click)="confirmOffer()">CONFIRM</button>
        <button class="btn btn-default text-black bg-white mt-3 ml-1 border border-black" (click)="offer=false;">CANCEL</button>
      </div>
    </div>

  </div>
</div>
</div>
