.navbar {
    background-color: rgba(118, 97, 139, 0.9);
    height:48px;
}

.navbar-brand img {
    padding: 10px;
}

.sidebar {
  width : 96px;
  position : fixed;
  height : 100vh;
  background-color: rgb(62, 66, 73);
}

.content-bar{
  margin-left : 96px;
}

.menu-list{
  font-size : 12px;
}

.screen{
  flex:1;
}

.menu-item {
    font-size: 12px;
    padding : 10px;
    cursor : pointer;
    margin-bottom: 1px;
    color: lightgray;
}

.menu-item:hover,
.active {
    background-color: rgba(128, 128, 128, 0.25);
    color: white;
}
