
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

  <meta name="viewport" content="width=device-width" />

  <title>Index</title>

  <base href="/">

  <script src="~/website/runtime.js" type="module"></script>
  <script src="~/website/polyfills.js" type="module"></script>
  <script src="~/website/styles.js" type="module"></script>
  <script src="~/website/scripts.js" defer></script>
  <script src="~/website/vendor.js" type="module"></script>
  <script src="~/website/main.js" type="module"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>
    <body>
    <div> 
      <app-root></app-root>
    </div>
</body>
</html>
