<div class="d-flex flex-row">
    <div class="sidebar">
        <ul class="menu-list">
            <li class="text-center active" id="classifieds" [routerLink]="['/classifieds']" (click)="click('classifieds')">
                <i class="material-icons">home_work</i>
                <div>Classifieds</div>
            </li>
            <li class="text-center" id="myclassifieds" [routerLink]="['/me/classifieds']" (click)="click('myclassifieds')">
                <i class="material-icons">shopping_basket</i>
                <div>My Classifieds</div>
            </li>
            <li class="text-center" id="inbox" [routerLink]="['/inbox']" (click)="click('inbox')">
                <i class="material-icons">message</i>
                <div>Inbox</div>
            </li>
            <li class="text-center" id="admin" [routerLink]="['/admin']" (click)="click('admin')">
                <i class="material-icons">people_alt</i>
                <div>Admin</div>
            </li>
        </ul>
    </div>
    <div class="content-bar container-fluid bg-light p-0" style="height: 100vh;">
        <router-outlet></router-outlet>
    </div>
</div>

<div class="navbar fixed-top position-absolute">
    <div class="text-center">
        <a class="navbar-brand text-center" href="#">
            <img src="website/assets/cart.png" width="80px">
        </a>
    </div>
    <span class="text-white ml-auto mr-3">Suyash Shukla</span>
    <img class="rounded-circle mr-3" src="https://raw.githubusercontent.com/suyashshukla/Sherlock/master/Angular/Formal.jpg" width="36px" height="36px">
</div>
