<div class="navbar fixed-top">
    <div class="text-center">
        <a class="navbar-brand text-center" href="#">
            <img src="../assets/cart.png">
        </a>
    </div>
    <span class="text-white ml-auto mr-3">Suyash Shukla</span>
    <img class="rounded-circle mr-3" src="https://raw.githubusercontent.com/suyashshukla/Sherlock/master/Angular/Formal.jpg" width="50px" height="50px">

</div>

<div class="d-flex flex-row">
    <div class="sidebar fixed-top">
        <ul class="menu-list">
            <li class="text-center active">
                <i class="material-icons">home</i>
                <div>Home</div>
            </li>
            <li class="text-center">
                <i class="material-icons">poll</i>
                <div>Project</div>
            </li>
            <li class="text-center">
                <i class="material-icons">message</i>
                <div>Inbox</div>
            </li>
            <li class="text-center">
                <i class="material-icons">person</i>
                <div>Admin</div>
            </li>
        </ul>
    </div>
    <div class="content-bar container-fluid bg-light p-0" style="height: 100vh;">
        <router-outlet></router-outlet>
    </div>
</div>