<div class="row m-1 p-1 border border-black overflow-hidden bg-white">

  <div class="col-1 d-flex align-items-center ">

    <img src={{ad.thumbnail}} class="fit thumbnail">

  </div>

  <div class="col-3 d-flex flex-column">

    <div class="d-flex">
      <i class="material-icons d-flex align-items-center">home</i>
      {{ad.title}}
    </div>

    {{ad.description}}

    </div>

  <div class="col-1">
    {{ad.price}}
  </div>

  <div class="col-2">
    {{ad.username}}
  </div>

  <div class="col-2">
    {{ad.timestamp}}
  </div>

  <div class="col-1">
    {{ad.offers}}
  </div>

  <div class="col-1">
    {{ad.comments}}
  </div>

</div>
