<div class="container-fluid pt-3">

  <button class="btn btn-default bg-transparent text-color" routerLink="/me/classifieds"><i class="material-icons align-bottom">arrow_back</i>&nbsp;Back to List</button>
  
  <div class="row mt-3 ml-3">

    <div class="col-sm-8 d-flex flex-column">

      <div class="card flex-grow-1 px-3 pt-3">
        <h5 class="text-dark">Item Details</h5>
      
        <form class="form-group labels d-flex flex-column" [formGroup]="adData">

          <div class="line-one d-flex flex-grow-2 py-2 row">
            <div class="col-sm-4 px-1">
              <label for="type">Type</label>

              <div class="dropdown">
                <button class="btn btn-default d-flex w-100 text-left border border-dark type-button"
                        id="dropdownTypebutton" data-toggle="dropdown">
                  {{formData.type}}
                  <i class="material-icons d-flex flex-grow-1 justify-content-end">keyboard_arrow_down</i>
                </button>

                <div class="dropdown-menu w-100">
                  <div class="dropdown-item" (click)="typeChange(0)">Sale</div>
                  <div class="dropdown-item" (click)="typeChange(1)">Rent</div>
                  <div class="dropdown-item" (click)="typeChange(2)">Required</div>
                </div>
              </div>
            </div>

            <div class="col-sm-4 px-1">
              <label for="category">Category</label> <div class="dropdown">
                <button class="btn btn-default d-flex w-100 text-left border border-dark" id="dropdownTypebutton" data-toggle="dropdown">
                 {{formData.category}}
                  <i class="material-icons d-flex flex-grow-1 justify-content-end">keyboard_arrow_down</i>
                </button>
                <div class="dropdown-menu w-100">
                  <div class="dropdown-item"(click)="typeChange(3)">Vehicle</div>
                  <div class="dropdown-item"(click)="typeChange(4)">Property</div>
                  <div class="dropdown-item"(click)="typeChange(5)">Electronics</div>
                </div>
              </div>
            </div>

            <div class="col-sm-4 px-1">
              <label for="price">Price</label>
              <div class="input-group d-flex">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">&#8377;</span>
                </div>
                <input type="text" class="border flex-grow-1 pl-1" aria-describedby="basic-addon1" formControlName = "price" />
              </div>
            </div>

          </div>
        </form>

        <div class="line-two py-2">
          <label for="title">Ad Title</label>
          <input type="text" class="form-control w-100" formControlName = "title"/>
        </div>

        <div class="line-three py-2 mb-3">
          <label for="description">Description</label>
          <textarea class="form-control w-100" rows="3" formControlName = "description">Provide Item Details</textarea>
        </div>
        </div>


      <app-slider></app-slider>


    </div>


    <div class="col-sm-4">
      <div class="card mx-3 p-3 font-normal">
        <h5>Publishing Details</h5>

        <div class="d-flex align-items-center mt-2">
          <img class="rounded-circle mr-2" src="https://static.diverseui.com/male-32.jpg" height="36" width="36" />
          Random User
        </div>

        <div class="d-flex mt-2">
          <div class="flex-grow-1 d-flex align-items-center">
            <i class="material-icons text-secondary mr-2 ml-1">beenhere</i>
            <span>Hyderabad Corp Office</span>
          </div>
          <div class="flex-grow-1 d-flex align-items-center">
            <i class="material-icons text-secondary mr-2 ml-1">email</i>
            <span>random.user@corp.com</span>
          </div>
        </div>

        <div class="d-flex mt-2">

          <div class="flex-grow-1 d-flex align-items-center">
            <i class="material-icons text-secondary mr-2 ml-1">phone</i>
            <span>9856321459</span>
          </div>

          <div class="form-check flex-grow-1">
            <input class="form-check-input ml-2" type="checkbox" id="contact-info-check" />
            <label class="form-check-label pl-4" for="contact-info-check">Show Contact Info</label>
          </div>

        </div>

        <div class="mt-2">
          <label for="expiry">Ad Expires in</label>
          <div class="input-group">
            <input type="text" class="form-control" aria-describedby="basic-addon2" />
            <span class="input-group-append"><span class="input-group-text" id="basic-addon2">days</span></span>
          </div>
        </div>

        <div class="d-flex justify-content-end mt-5">
          <button class="btn btn-secondary text-white ml-2">CANCEL</button>
          <button class="btn btn-default bg-color text-white ml-2">POST AD</button>
        </div>

      </div>

      </div>


  </div>


</div>
